/* *********** CSS VARIABLES ************* */
:root {
    --primary-background: #F5F5F5;
    --primary-accent: #F5F5F5;
    --hover-primary-accent: #C7B17A;
    --primary-font: black;
    --alternate-background: #EEEEE7;
    --header-footer-background: black;
    --header-footer-font: #F5F5F5;
}

/* *********** RESET ************* */
html {
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

/* *********** PAGE LEVEL STYLES ************* */
body {
    font-family: 'Cormorant Garamond', serif;
    color: var(--primary-font);
    background-color: var(--primary-background);
}

a {
    color: var(--primary-accent);
}

a:hover {
    color: var(--hover-primary-accent)
}

/* *********** HEADER AND FOOTER ************* */
.page-header, .page-footer {
    color: var(--primary-accent);
    background-color: var(--header-footer-background);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-footer {
    padding: 2rem 1.5rem;
}

.footer-links-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-link-item {
    margin: 0.5rem;
}

.page-menu-container {
    list-style-type: none;
    display: flex;
    font-weight: 400;
}

.page-menu-item {
   margin: 0.5rem
}

.page-menu-link {
    color: var(-primary-accent);
    text-decoration: none;
    letter-spacing: .5px;
}

.page-menu-link:hover {
    color: var(--hover-primary-accent);
}

/* *********** MAIN ************* */
.bg-dark {
   background-color: var(--alternate-background);
}

.main-section {
    padding: 1.5rem 1.5rem 2.5rem;
}

.our-story {
    text-align: center;
}

.our-story-heading {
    margin: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 500;
}
    
.our-story-tagline {
    margin: 0.5rem;
    font-size: 18px
}

.featured-properties-heading {
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 500;
}

.featured-properties-container {
    display: flex;
    justify-content: space-between;
}

.featured-properties-card {
    padding: 2.5rem;
}

.featured-properties-description {
    list-style-type: none;
}