/* *********** CSS VARIABLES ************* */
:root {
    --primary-background: #F5F5F5;
    --primary-accent: #F5F5F5;
    --hover-primary-accent: #C7B17A;
    --primary-font: black;
    --alternate-background: #EEEEE7;
    --header-footer-background: black;
    --header-footer-font: #F5F5F5;
}

/* *********** RESET ************* */
html {
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

p {
    margin: 0.5rem 5rem;
}

input, textarea {
    padding: 0.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
}

/* *********** PAGE LEVEL STYLES ************* */
body {
    font-family: 'Cormorant Garamond', serif;
    color: var(--primary-font);
    background-color: var(--primary-background);
    min-width: 350px;
}

label {
    margin-bottom: 0.25rem;
}

a {
    color: var(--primary-accent);
}

a:hover {
    color: var(--hover-primary-accent)
}

/* *********** HEADER AND FOOTER ************* */
.page-footer {
    color: var(--primary-accent);
    background-color: var(--header-footer-background);
}

.page-footer {
    padding: 2rem 1.5rem;
}

.footer-links-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-link-item {
    margin: 0.5rem;
}

.page-menu-link {
    color: var(-primary-accent);
    text-decoration: none;
    letter-spacing: .5px;
}

.page-menu-link:hover {
    color: var(--hover-primary-accent);
}

.navbar-brand {
    font-weight: 500;
}

.nav-link {
   text-transform: uppercase;
   color: var(--header-footer-font);
   font-weight: 5oo;
}

.nav-link:hover {
    color: var(--hover-primary-accent)
}

main {
    margin-top: 55px; /* fixed-top navbar */
}

/* *********** MAIN ************* */
.section-dark {
   background-color: var(--alternate-background); 
}

p {
    margin: 0.5rem 0;
}

.main-section {
    padding: 1.5rem 1.5rem 2.5rem;
}

.our-story {
    text-align: center;
    padding-top: 45px;
}

.our-story-heading {
    margin: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 500;
}
    
.our-story-tagline {
    margin: 0.5rem 9rem;
    font-size: 19px
}

.featured-properties {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 45px;
}

.featured-properties-heading {
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 500;
}

.featured-properties-photo {
    width: 300px
}

.featured-properties-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.featured-properties-card {
    padding-top: 2.5rem;
}

.featured-properties-description {
    list-style-type: none;
    font-size: 17px;
    padding-left: 0;
}

.meet-the-team {
    padding-top: 45px;
}

.meet-the-team-heading {
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 500;
}

.realtor-container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.realtor-image-container-one {
    align-items: center;
    justify-content: center;
}

.realtor-image-one {
    float: left;
    align-items: center;
}

.realtor-contact-one {
    list-style-type: none;
    text-align: center;
    font-weight: 500;
}

.realtor-heading-container-one {
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.realtor-h2-one {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
}

.realtor-h3-one {
    font-size: 20px;
    font-weight: 500;
}

.realtor-h4-one {
    font-size: 17px;
    font-weight: 500;
}

.realtor-description-container-one {
    padding-left: 40px;
    padding-bottom: 50px;
}

.realtor-tagline-one {
    font-size: 19px;
}

.realtor-container-two {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.realtor-image-container-two {
    align-items: center;
    justify-content: center;
}

.realtor-image-two {
    float: left;
    align-items: center;
}

.realtor-contact-two {
    list-style-type: none;
    text-align: center;
    font-weight: 500;
}

.realtor-heading-container-two {
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.realtor-h2-two {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
}

.realtor-h3-two {
    font-size: 20px;
    font-weight: 500;
}

.realtor-h4-two {
    font-size: 17px;
    font-weight: 500;
}

.realtor-description-container-two {
    padding-left: 40px;
    padding-bottom: 60px;
}

.realtor-tagline-two {
    font-size: 19px;
}

.lets-connect {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 45px;
}

.lets-connect-heading {
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 500;
}

.form-row {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row.no-stretch {
    align-items: flex-start;
}

.best-time-to-call-drop-down {
    font-family: 'Cormorant Garamond', serif;
    color: var(--primary-font);
    font-size: 16px;
    padding: 0.5rem;
}

.preferred-agent-drop-down {
    font-family: 'Cormorant Garamond', serif;
    color: var(--primary-font);
    font-size: 16px;
    padding: 0.5rem;
}

.when-do-you-plan-to-buy-or-sell-drop-down {
    font-family: 'Cormorant Garamond', serif;
    color: var(--primary-font);
    font-size: 16px;
    padding: 0.5rem;
}

.lets-connect-button {
    background: none;
    padding: 0.55rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s;
    color: #C7B17A;
    border-color: #C7B17A;
    border-style: solid;
    text-transform: uppercase;
}

.lets-connect-button:hover {
    background-color:#C7B17A;
    transition: 0.7s;
    color: #EEEEE7;
}

.lets-connect-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 0px #C7B17A;
    transition: 0.7s;
}

@media screen and (max-width: 1400px) {
    .our-story-tagline {
        margin: 20px;
    }
    .featured-properties-photo {
        width: 100%;
        height: 100%;
        min-width: 190px;
        min-height: 140px;
    }
}

@media screen and (max-width: 1200px) {
    .featured-properties-container {
        flex-direction: column;
        align-items: center;
    }
    .realtor-container-one {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .realtor-description-container-one {
        padding-top: 40px;
    }
    .realtor-container-two {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .realtor-description-container-two {
        padding-top: 40px;
    }
}

@media screen and (max-width: 992px) {
    html {
        font size: 12px;
    }
    .page-menu-container {
        display: none;
    }
} 

@media screen and (max-width: 768px) {
    .footer-links-container {
        flex-direction: column;
        align-items: center;
    }
}